<ion-view title="Progress"> <!-- Title on top nav bar is gottent from this title attribute -->
  <ion-content padding="true" overflow-scroll="true">

      <div class="row progressRow">

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek" style="color: #4292FB;">This Week</p>

            </div>

         </div>

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 10</p>

            </div>

         </div>

      </div> <!-- End of row -->

      <div class="row progressRow">

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 9</p>

            </div>

         </div>

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 8</p>

            </div>

         </div>

      </div> <!-- End of row -->

      <div class="row progressRow">

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 7</p>

            </div>

         </div>

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 6</p>

            </div>

         </div>

      </div> <!-- End of row -->

      <div class="row progressRow">

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 5</p>

            </div>

         </div>

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 4</p>

            </div>

         </div>

      </div> <!-- End of row -->

      <div class="row progressRow">

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 3</p>

            </div>

         </div>

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 2</p>

            </div>

         </div>

      </div> <!-- End of row -->

      <div class="row progressRow">

         <div class="col col-50">

            <div class="card">

              <div class="item item-image">
                <img src="img/selfie.png">
              </div>

              <p class="cardWeek">Week 1</p>

            </div>

         </div>


      </div> <!-- End of row -->

  </ion-content>

  <button class="mtv-floating-button"><i class="ion-camera"></i></button>

  <div id="motivateSomeoneCard" ng-controller="MotivateCtrl">
     <p id="snackbarText">It's time to motivate someone!</p>
     <button id="snackbarButton" ng-click="composeMotivateModal()">MOTIVATE</button>
  </div>

</ion-view>
