<ion-popover-view class="sizePopover">
  <ion-content>
     <div class="list">
       <p class="item" ng-click="changeServingSize($event)">1/4</p>
       <p class="item" ng-click="changeServingSize($event)">1/2</p>
       <p class="item" ng-click="changeServingSize($event)">1</p>
       <p class="item" ng-click="changeServingSize($event)">2</p>
       <p class="item" ng-click="changeServingSize($event)">3</p>
       <p class="item" ng-click="changeServingSize($event)">4</p>
     </div>
  </ion-content>
</ion-popover-view>
