body {
   font-family: "Roboto";
}

/*  Overwrites  */

.pane {
   background: #EEEEEE;
}

.bar.bar-positive {
   background-image: url("../img/runheader.png") !important;
   height: 130px;

   -moz-box-shadow: 0 0 5px #888;
   -webkit-box-shadow: 0 0 5px#888;
   box-shadow: 0 0 5px #888;

}

.tabs-striped > .tabs {
   background-color: #00BFAD !important;
   border-bottom: none;
   margin-top: 15px;
   background: transparent !important;
   z-index: 100;
}

.tab-item {

   color: rgba(255, 255, 255, 1) !important;

   font-family: "Roboto";
   font-size: 1.05em;

}

.accordion .item-stable {
   background: #FDFDFD;

   color: #ADADAD;
   font-weight: 300;
   font-size: 1em;

   border-bottom: none;
}

.accordion .item-stable.active, .accordion .item-stable.activated {
   background: #FDFDFD;
}

.list .item.item-accordion {
  line-height: 55px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;

  color: #646464;
  font-size: 1.1em;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}



.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.card {

   background: #FDFDFD;
   border-radius: 2px;
}

/*  End Overwrites  */


/* Summary Styles */

.summaryContainer .card:first-child {

   margin-top: 15%;

}

.summaryContainer .card {
   margin-top: 1%;
}

.summaryContainer .card h2 {

   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 0;

   color: #656565;
   font-weight: 300;
   font-size: 1.8em;
   font-family: "Roboto";

}

.summaryContainer .card p {

   margin-bottom: 0;

   padding-bottom: 10px;

   font-weight: 300;
   color: #979797;

}

.summaryContainer .card p .currentCount {
   color: #626262;
   font-weight: 400;
}

.meter {

   height: 10px;

   position: relative;

}

.meter .achieved, .meter .not-achieved {

   display: inline-block;

   height: 100%;

}

.meter .achieved {

   width: 52%;

   background: #00BFAD;

}

.meter .not-achieved {

   width: 48%;

   background: #AFE9E1;
}



.mtv-floating-button {

   background: #00A999;
   color: white;
   width: 55px;
   height: 55px;
   position: fixed;
   right: .5em;
   bottom: .5em;
   border: none;
   border-radius: 50%;
   font-size: 2em;
   cursor: pointer;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.23), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
   transition: background .3s;
}

.mtv-floating-button:active {
   background: #009789;
}

#recentFoods {
   display: block;
}

#resultFoods {
   display: none;
}


/************ Food Log Styles ************/

.dayContainer {
   position: relative;
   top: 40px;
}

.dayContainer .date {

   position: absolute;
   top: 5px;
   left: 2px;

   font-weight: 400;
   color: #434343;

}

.today .dayNumber, .today .dayAbbr {

   color: #4292FB;
}

.date .dayNumber {

   display: block;

   font-size: 1.6em;

}

.date .dayAbbr {

   display: block;

   margin-top: 3px;
   margin-left: -2px;

   font-size: .9em;

   text-align: center;


}

.dayContainer .card {

   margin-left: 40px;
   width: 85%;

}

.dayContainer .card h3 {

   margin-top: 12px;
   margin-left: 12px;

   font-size: .9em;
   font-weight: 300;

   font-family: "Roboto";

   color: #535353;

}

.dayContainer .item-stable {

   padding: 12px 0;

   font-size: .9em;
}

/****** Progress Styles *******/

.progressRow {

   margin-top: 5%;

}

.progressRow .card {

   padding: 6px;
}

.progressRow .card img {

   border-radius: 4px;

}

.progressRow .cardWeek {

   text-align: center;

   margin-top: 8%;
   margin-bottom: 3%;

   color: #8A8A8A;
}


/* Search Food */

.searchFoodForm {

   margin-top: 15%;

}

.searchFoodForm input[type="text"] {

   padding: 1em 1em;
   color: #33332D;

}

.addFoodCard {

   margin-top: 15%;

   padding: 0;

   padding-bottom: 1em;

   text-align: center;
}

.dropdownButton {

   margin: 0 1em;

   border: none;
   background: none;

   border-bottom: 1px solid #BFBFBF;

   color: #999999;

   font-family: "Roboto";
   font-size: 1.2em;

}

.dropdownButton i {

   padding-left: 20px;
}

.addFoodCard h2 {

   margin-bottom: 1em;

   padding: .5em 0;

   background: #00BFAD;

   font-family: "Roboto";
   font-size: 2em;
   font-weight: 300;
   color: #fff;

}

.addFoodCard p {

   margin-top: 2em;
   padding-top: 2em;

   border-top: 1px solid #E2E2E2;

   font-size: 1.1em;
   color: #999999;

}

.servingPopover, .sizePopover {

   width: 150px;
   height: 220px;
}

.logButton {

   border: none;
   background: #fff;

   display: block;
   margin: 2em auto;
   padding: .6em 2em;

   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

   border-radius: 2px;

   font-size: 1.6em;
   font-family: "Roboto";
   font-weight: 400;
   color: #00BFAD;

}


#motivateSomeoneCard, #getMotivatedCard {

   display: none;

   padding: 1.5em 1em;

   position: fixed;
   left: 0;
   bottom: 0;

   background: #262626;

   width: 100%;
   height: 70px;


}

#snackbarText, #motivatedCardText {

   display: inline-block;

   margin-right: 40px;

   color: #fff;

   font-size: 1em;
   font-family: "Roboto";
   font-weight: 400;

}

#motivatedCardText {
   margin-right: 110px;
}

#snackbarButton, #motivatedCardButton {

   vertical-align: middle;

   background: none;
   border: none;

   display: inline-block;

   color: #00BFAD;

   font-size: 1.2em;
   font-family: "Roboto";
   font-weight: 400;

}

/*Overwrites*/

.popup-container .popup {

   padding: 0 1em;
   padding-top: 1em;

   background: #fff;

   border-radius: 3px;

   width: 300px;

}

.popup-head {

   border-bottom: none;

}

.popup-title {

   text-align: left;

   font-size: 1.5em;
   font-family: "Roboto";
   font-weight: 400;

   color: #000;

}

.popup .button {

   margin: 0;
   padding: 0;

   background: none;
   border: none;

   font-family: "Roboto";
   font-weight: 400;

   color: #5898E3;

}

.popup .button:active {

   background: none;
   box-shadow: none;

   color: #3875BB;

}

.popup .button:first-child {

   text-align: left;
}

.popup .button:last-child {

   text-align: right;
}

/*End Overwrites*/


/* Motivate Someone Styles */

.pop-up-motivate-someone .popup-refresh {

   font-family: "Roboto";
   font-weight: 300;
   font-size: .9em;

   color: #9A9999;

}

.pop-up-motivate-someone .popup-message {

   margin-top: .8em;
   margin-bottom: 1.2em;

   font-family: "Roboto";
   font-size: 1.2em;
   font-weight: 300;

   color: #000;

   line-height: 1.5em;

}

.pop-up-motivate-someone .popup-signoff {

   margin-bottom: 2em;

   font-family: "Roboto";
   font-size: 1.2em;
   font-weight: 300;

   color: #000;

}

.pop-up-motivate-someone .popup-includePhoto {

   font-family: "Roboto";
   font-weight: 300;
   font-size: .9em;

   color: #9A9999;

}


/* Be Motivated Styles */

.pop-up-be-motivated .popup-image {

   margin: 0 auto;

   background: url("../img/motivation.jpg") no-repeat top left;

   width: 180px;
   height: 180px;
   border-radius: 50%;

}

.pop-up-be-motivated .popup-motivated-message {

   margin-top: 2.5em;
   margin-bottom: 1.5em;

   font-family: "Roboto";
   font-size: 1.1em;
   font-weight: 300;

   color: #000;

   line-height: 1.5em;

}

.pop-up-be-motivated .popup-motivated-signoff {

   margin-bottom: 0;

   font-family: "Roboto";
   font-size: 1.2em;
   font-weight: 300;

   color: #000;

}

.pop-up-be-motivated .popup-buttons {

   margin-right: 1.7em;

}
